@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;700;900&display=swap');

:root{
    --color1: #131A40;
    --color2: #273273;
    --color3: #4E64A6;
    --color4: #829FD9;
    --color5: #99B7F9;
    --gris-oscuro: #333333;
    --gris-claro: #cccccc;
    --blanco: #ffffff;
    --negro: #000000;
}

body{
    font-family: 'Jost', sans-serif;
}

.container{
    max-width: 1440px;
}

h1{
    font-size: 64px;
    font-weight: 200;
    letter-spacing:-2px;
}
h2{
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -1px;
}
h3{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

#main-header{
    background-color: var(--color1);
    color: var(--blanco);
    padding: 10px 0;
}

#main-header p{
    margin-bottom: 0;
}

.carousel-indicators [data-bs-target]{
    height: 30px;
    border-radius: 50%;
}

#nosotros{
    background-color: var(--gris-oscuro);
    color: var(--blanco);
}

#noticias{
    background-color: var(--color5);
}

#conferencia{
    background-color: var(--negro);
    color: var(--blanco);
}
#conferencia figure{
    margin-bottom: 0;
}

#historia{
    background-color: var(--color3);
    color: var(--blanco);
}

#valores{
    background-color: var(--color5);
    color: var(--negro);
    text-align: center;
}

#valores i{
    color: var(--blanco);
    font-size: 2rem;
}

#galeria figure{
    margin-bottom: 0;
}

#videos{
    background-color: var(--negro);
    color: var(--gris-claro);
}

.padded{
    padding-top: 90px;
    padding-bottom: 90px;
}

#main-footer{
    background-color: var(--gris-oscuro);
    color: var(--gris-claro);
    padding: 45px 0;
}